body {
    font-family: Inconsolata JosefinSans;
}
header {
    background-color: rgb(53, 55, 68);
    height: 14%;
    width: 100%;
    position: fixed;
    color: white;
}

.LeftSideNav {
    background-color: rgb(97, 210, 144);
    height: 100%;
    width: 18%;
    position: fixed;
    top: 16%;
}
.hidden{
    position:absolute;
    left:-10000px;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden
}
.Growable {
	position: relative;
	border: 1px solid;
	max-height: 300px;
	overflow: hidden;
	-webkit-scrollbar: red;
}

.Growable textarea,
.Growable pre {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
	font-size: inherit;
	white-space: pre-wrap;
	word-wrap: break-word;
	padding: 0.5em;
}

.Growable textarea {
	width: 100%;
	resize: none;
	border: none;
	
	position: absolute;
	top: 0; left: 0;
	height: 100%;
	overflow: visible;
}
